body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #4ea1d5, #7fccfb);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Non-default CSS below here */

@font-face {
  font-family: Handlee-Regular;
  src: url(./Assets/Fonts/Handlee-Regular.ttf);
}

.page-title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-bar {
  display: flex;
}

.search-btn-col {
  display: flex;
  justify-content: center;
}

.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 30%);
  border-radius: 1em;
}

.header-image {
  /* display: flex; */
  height: 15em;
  /* border-radius: 50em;
  box-shadow: 10px 5px 5px #000000; */
  margin: auto;
}

.header-image-column {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.align-center {
  align-items: center;
}

.info-column {
  font-family: Handlee-Regular;
  font-size: 1.1em;
  /* background-color: rgba(24, 134, 121, 50%); */
  /* border-radius: 1em; */
}


.info-container {
  height: 23em;
}

/* .toggle-switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

.header-container {
  background-image: url(./Assets/Images/marc-pell-oWRVjFQIwAY-unsplash.jpg);
  background-size: cover;
  background-position: center 40%;
  height: 20em;
  align-items: center;
}

.info-row {
  display: flex;
  justify-content: center;
}

.pokemon-search {
  font-family: Handlee-Regular;
}

/* * * * * * * * * * * * Button Styles * * * * * * * * * * * */

.search-btn {
  display: flex;
  background-color: #118376;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-family: Handlee-Regular;
}

.search-btn:hover {
  display: flex;
  background-color: #0c685d;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.random-btn {
  display: flex;
  background-color: #258c1a;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  width: 25em;
  font-family: Handlee-Regular;
}

.random-btn:hover {
  display: flex;
  background-color: #1b7211;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

/* .shiny-btn{
  display: flex;
  background-color: #238618;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  width: 25em;
  font-family: Handlee-Regular;
}

.shiny-btn:hover{
  display: flex;
  background-color: #36a32a;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
} */

/* * * * * * * * * * * * * * Media Queries * * * * * * * * * * * */

@media (max-width: 768px) {
  .search-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .search-btn {
    display: flex;
    background-color: #118376;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5em;
    padding: 6.8px 12px;
    text-align: left;
    text-decoration: none;
    justify-content: center;
    font-family: Handlee-Regular;
  }
  
  .search-btn:hover {
    display: flex;
    background-color: #0c685d;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5em;
    padding: 6.8px 12px;
    text-align: left;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
  }
  
  .random-btn {
    display: flex;
    background-color: #258c1a;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5em;
    padding: 6.8px 12px;
    text-align: left;
    text-decoration: none;
    justify-content: center;
    width: 25em;
    font-family: Handlee-Regular;
  }
  
  .random-btn:hover {
    display: flex;
    background-color: #1b7211;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5em;
    padding: 6.8px 12px;
    text-align: left;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
  }
}
