body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title{
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-btn{
  display: flex;
  background-color: #1B998B;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  width: 25em;
}

.search-btn:hover{
  display: flex;
  background-color: #15796d;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 6.8px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.search-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-bar{
  display: flex;
}

.search-btn-col{
  display: flex;
  justify-content: center;
}